/* all styles */ 
body {
    height: 100vh; 
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0; }

.main-column {
    margin-right: 340px;
    width: auto; 
    height: 100vh; }

h1 { 
    color: #485566;
    font-size: 16px; }

#status, h1 { margin-left: 30px; }
#status, #placeholder { 
    margin: 10px 0 0 15px;
    padding-top:7px;
    color:white; }

#droid-output {
    margin: 0 340px 30px 30px;
    padding: 15px;
    width: 500px;
    word-wrap: break-word; }

.update-button:hover { background: #3485e6; }
.update-button {
    font: 700 14px/2.42 "Open Sans", Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    background: #518ace;
    border: 0;
    border-radius: 5px;
    padding: 0 20px;
    margin: 0 0 0 30px;
    cursor: pointer; }

header { 
    width:100%;
    height: 40px;
    background: #485566; 
    text-align: center;
    display: block; 
    padding: 0 10px;}

    .header-tabs {
        text-align:center;
        list-style: none;
        display:inline; 
        margin-left: -100px; }

        .header-tabs li {
            display:inline-block;
            padding:5px 24px;
            font-family: "Open Sans", Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: white; 
            line-height: 30px; }

aside {
    width: 340px;
    min-width: 340px;
    background: #384453;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%; }

    .logo-holder {
        background: #2b3746;
        padding: 20px 0; 
        height: 104px; }

        .logo {
            display: block;
            width: 230px;
            height: 104px;
            margin: 0 auto;
            background: url("assets/checkfast-logo.png") no-repeat;
        }

    .notifications {
        padding: 4px 16px;
        line-height: 24px;
        font-weight: 700;
        color: #b0c0d5;
        background: #2b3746;
        height: 24px; 
        margin-top: 93px;}

footer {
    width: 100%;
    height: 106px;
    background: #d8e4f1;
    position: fixed;
    bottom: 0; }

    .logo-slingmax {
        background: url("assets/logo-slingmax.png") no-repeat;
        width: 132px;
        height: 31px;
        text-indent: -9999px;
        overflow: hidden;
        margin-left: 27%;
        position:fixed;
        bottom:14px;
        vertical-align: middle; 
        display:flex; 
        justify-content: center;}